<%- include('header') -%>

<br />
<h4><%= pageNo %></h4>

<br />
<h3><%= chapter %></h3>
<h3><%= lesson %></h3>
<h3><%= list %></h3>

<br />
<br />

<table style="width:90%">
  <tr>
    </tr>
  <% for (let i = 0; i < sentences.length; i++){ %>
  <tr>
    <td><%= speakers[i] + ' ' + ':' + ' ' + ' ' %></td>
    <td><%= sentences[i] + ' ' + ' ' %></td>
    <td><%= translatedSentences[i] %></td>
  </tr>
  <% } %>
  </table>

<br />
<br />
<% for (let i = 0; i < grammarPoints.length; i++){ %>
  <p><%= grammarPoints[i]  %></p>
<% } %>

<br />
<br />
<br />

<%- include('footer') -%>
