<%- include('header') -%>

<br />

<ul class='toc'>
  <h2>Table of Contents</h2>
  <li><h4><a href="/lessons/lesson1">Lesson 1</a></h4></li>
  <li><h4><a href="/lessons/lesson2">Lesson 2</a></h4></li>
  <li><h4><a href="/lessons/lesson3">Lesson 3</a></h4></li>
  <li><h4><a href="/lessons/lesson4">Lesson 4</a></h4></li>
  <li><h4><a href="/lessons/lesson5">Lesson 5</a></h4></li>
  <li><h4><a href="/lessons/lesson6">Lesson 6</a></h4></li>
  <li><h4><a href="/lessons/lesson7">Lesson 7</a></h4></li>
  <li><h4><a href="/lessons/lesson8">Lesson 8</a></h4></li>
  <li><h4><a href="/lessons/lesson9">Lesson 9</a></h4></li>
  <li><h4><a href="/lessons/lesson10">Lesson 10</a></h4></li>
  <li><h4><a href="/lessons/lesson11">Lesson 11</a></h4></li>
  <li><h4><a href="/lessons/lesson12">Lesson 12</a></h4></li>
  <li><h4><a href="/lessons/lesson13">Lesson 13</a></h4></li>
  <li><h4><a href="/lessons/lesson14">Lesson 14</a></h4></li>
  <li><h4><a href="/lessons/lesson15">Lesson 15</a></h4></li>
  <li><h4><a href="/lessons/lesson16">Lesson 16</a></h4></li>
  <li><h4><a href="/lessons/lesson17">Lesson 17</a></h4></li>
  <li><h4><a href="/lessons/lesson18">Lesson 18</a></h4></li>
  <li><h4><a href="/lessons/lesson19">Lesson 19</a></h4></li>
  <li><h4><a href="/lessons/lesson20">Lesson 20</a></h4></li>
</ul>
<h4 class='pageno'><%= pageNo %></h4>

<br />
<h3><%= chapter %></h3>
<h3><%= lesson %></h3>
<h3><%= list %></h3>

<br />
<br />

<table style="width:50%">
  <tr>
    </tr>
  <% for (let i = 0; i < sentences.length; i++){ %>
  <tr>
    <td><%= speakers[i] + ' ' + ':' + ' ' + ' ' %></td>
    <td><%= sentences[i] + ' ' + ' ' %></td>
    <td><%= translatedSentences[i] %></td>
  </tr>
  <% } %>
  </table>

<br />
<br />
<% for (let i = 0; i < grammarPoints.length; i++){ %>
  <p><%= grammarPoints[i]  %></p>
<% } %>

<br />
<br />
<br />

<%- include('footer') -%>
