<%- include('header') -%>

<br />

<% const numOfDocs = 10; %>

<ul class='toc'>
  <h2 class="tocc">Table of Contents</h2>
  <%  for (let i = 0; i < numOfDocs; i++) {  %>
  <li>
    <h4><a href="/lessons/<%= i + 1 %>">Lesson <%= i + 1 %></a></h4>
  </li>
  <% } %>

</ul>
<h4 class='pageno'><%= pageNo %></h4>

<br />

<h3><%= chapter %></h3>
<h3><%= lesson %></h3>

<% let x = " " %>
<% for (let i = 0; i < list.length; i++){ %>
<%  x += " " + list[i] + " "  %>
<% } %>
<h3><%= x %></h3>

<br />
<br />

<table style="width:60%">
  <tr>
  </tr>
  <% for (let i = 0; i < sentences.length; i++){ %>
  <tr>
    <td><%= speakers[i] + ' ' + ':' + ' ' + ' ' %></td>
    <td><%= sentences[i] + ' ' + ' ' %></td>
    <td><%= translatedSentences[i] %></td>
  </tr>
  <% } %>
</table>

<br />
<br />
<% for (let i = 0; i < grammarPoints.length; i++){ %>
<p><%= grammarPoints[i]  %></p>
<% } %>

<br />
<br />
<br />

<%- include('footer') -%>
