<%- include('header') -%>

<br />

<% const numOfDocs = 11; %>

<ul class='toc'>
  <h2 class="tocc">Table of Contents</h2>
  <h2><button type="button" class='toc'><i class="fas fa-caret-square-left"></i></button></h2>

  <%  for (let i = 0; i < numOfDocs; i++) {  %>
  <li>
    <h4><a href="/lessons/<%= i + 1 %>">Lesson <%= i + 1 %></a></h4>
  </li>
  <% } %>

</ul>
<h4 class='pageno'><%= pageNo %></h4>

<br />

<h3><%= chapter %></h3>
<h3><%= lesson %></h3>

<% let x = " " %>
<% for (let i = 0; i < list.length; i++){ %>
<%  x += " " + list[i] + " "  %>
<% } %>
<h3><%= x %></h3>

<br />
<br />

<table class='no-borders' style="width:75%">
  <tr>
  </tr>
  <% for (let i = 0; i < sentences.length; i++){ %>
  <tr>
    <td><%= speakers[i] + ' ' + ':' + ' ' + ' ' %></td>
    <td><%= sentences[i] + ' ' + ' ' %></td>
    <td><%= translatedSentences[i] %></td>
  </tr>
  <% } %>
</table>
<br  />
<br  />
<h3>単語 | たんご | Vocabulary</h3>
<br />

<table class="borders" style="width:75%">
  <tr class="borders">
    <th class="borders">詞 | ことば | words</th>
    <th class="borders">平仮名 | ひらがな | hiragana</th>
    <th class="borders">意味 | いみ | meaning</th>
    <th class="borders">品詞 | ひんし | part of speech</th>
    <th class="borders">発音 | はつおん | pronunciation</th>
  </tr>
  <tr class="borders">
    <td class="borders">Jill</td>
    <td class="borders">Smith</td>
    <td class="borders">50</td>
    <td class="borders">50</td>
    <td class="borders"><button class="sound-button" type="button"><i class="fas fa-volume-off"></i></button>
    </td>
  </tr>
  <tr class="borders">
    <td class="borders">Eve</td>
    <td class="borders">Jackson</td>
    <td class="borders">94</td>
    <td class="borders">50</td>
    <td class="borders"><button class="sound-button" type="button"><i class="fas fa-volume-off"></i></button>
      </td>
  </tr>
</table>

<br />
<br />
<% for (let i = 0; i < grammarPoints.length; i++){ %>
<p><%= grammarPoints[i]  %></p>
<% } %>

<br />
<br />
<br />

<%- include('footer') -%>
